H2{
text-align: center;
    font-family: Chilanka, sans-serif;
}
input{
    font-family: "Abyssinica SIL";
    color: #0bf832;
    background-color: rebeccapurple;

    border: #e22b7d;
    border: solid;
}